# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node test

on:
  push:
    branches: [ "main" ]
    
jobs:
   general:
    name: general test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: "install dependencies"
      run: npm install
    - name: "general test"
      run: node tests/general.js ${{ secrets.AUTH_MAIL }} ${{ secrets.AUTH_PASS}}
